@font-face {
  font-family: cabinSketch-Bold;
  src: url(./fonts/CabinSketch-Bold.ttf);
}
@font-face {
  font-family: PatrickHand-Regular;
  src: url(./fonts/PatrickHand-Regular.ttf);
}

.App {
  text-align: center;
  background-color: #3b414e;
  font-family: PatrickHand-Regular, sans-serif;
  letter-spacing: 0.04rem;
}

/* ------- Header ------- */
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: cabinSketch-Bold, sans-serif;
  font-size: 2rem;
}
/* ------- Body ------- */
.Body {
  min-height: 80vh;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  grid-template-areas: "resources ghosts shop";
  height: fit-content;
}
/* ------- smaller screen ------- */
@media (max-width: 800px) {
  .App-header {
    min-height: 10vh;
  }
  .Body {
    grid-template-areas:
      "ghosts"
      "shop"
      "resources";
    grid-template-columns: 1fr;
    /* row-gap: 1rem; */
  }
  .resources {
    margin: .5rem;
  }
  .shop{
    margin: .5rem;
  }
  p {
    margin: .5rem;
  }
}
/* ------- Ghost Region ------- */
.ghost-section {
  width: fit-content;
  height: fit-content;
  grid-area: ghosts;
  align-content: center;
  display: grid;
  font-family: cabinSketch-Bold, sans-serif;
  font-size: 1.5rem;
}
.ghost-image {
  height: 40vmin;
  border-radius: 50%;
}

.ghost-button {
  background-color: transparent;
  border: transparent;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  background-image: url(./ghost-start.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent; /*hides button text but keeps button accessible for screen readers */
}
.ghost-button:hover {
  background-color: rgb(165, 201, 223);
  cursor: pointer;
}
.ghost-button:active {
  background-image: url(./ghost-o.png);
}

@media (prefers-reduced-motion: no-preference) {
  .ghost-button-span {
    animation: App-logo-spin infinite 20s linear;
  }
  .ghost-button:hover {
    transform: scale(1.05, 1.05);
  }
  .ghost-button:active {
    transform: translateY(3px);
  }
}

/* ------- shop and collections ------- */
legend {
  font-family: cabinSketch-Bold, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: hsl(221, 24%, 48%);
  border-radius: 15px;
  padding: 1rem;
}
.description {
  font-size: 0.8rem;
  display: inline;
}
/* ------- collections only ------- */
.resources {
  text-align: left;
  align-self: center;
  background-color: hsl(221, 16%, 58%);
  border-radius: 20px;
  padding: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  grid-area: resources;
  width: 80%;
  max-width: 80%;
}
dt {
  font-size: 1.1rem;
  margin: 0.4rem;
  /* padding-left: .3rem; */
  padding: 0.3rem;
  background-color: hsl(221, 16%, 50%);
  border-radius: 5px;
  /* border: steelblue solid 2px; */
}
#resources-spookyEnergy-dt {
  text-align: center;
font-weight: bold;
}

.resources-icons {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

/* ------- shop only ------- */
.shop {
  grid-area: shop;
  display: grid;
  background-color: hsl(221, 16%, 58%);
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 80%;
}

button {
  font-family: PatrickHand-Regular, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.2rem;
  border-radius: 5px;
  border-width: 3px;
  font-weight: bold;
  border-style: solid;
  letter-spacing: 0.05rem;
}

.shop button:disabled {
  cursor:not-allowed;
  /* transform: scale(.95); */
  filter:opacity(40%)
}
.shop button:active {
  transform: scale(.97) translateY(3px);
}

.spooky-shop-button-skeleton {
  background-color: hsl(217, 100%, 97%);
  color: hsl(212, 19%, 17%);
  border-color: hsl(212, 19%, 17%);
}

.spooky-shop-button-grimReapers {
  background-color: hsl(267, 33%, 13%);
  color: hsl(272, 81%, 96%);
  border-color: snow;
}

.spooky-shop-button-gravestones {
  background-color: hsl(212, 6%, 51%);
  color: hsl(212, 20%, 19%);
  border-color: hsl(212, 20%, 19%);
}



/* ------- Other ------- */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
